.subscription {
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.btn-send{
    width: 100px;
     background-color: transparent;
   }
   


.input {
  margin-right: 10px;
  width: 300px;
  font-size: 18px;
}